* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  body{
    background-color: rgb(149, 169, 233);
  }
  
  h1 {
    text-transform: uppercase;
    color: #fff8f8;
    text-align: center;
  }
   
  nav {
    background-color: #4685e4;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    left: 0;
  }
  
  nav a {
    float: left;
    display: block;
    color: #0c0c0c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: rgb(0, 0, 0);
    color: black;
  }
  
  .content {
    padding: 50px 20px;
    margin-bottom: 20px;
    mix-blend-mode: color-burn;
  }
   
  footer {
    display:  flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0e608f;
    color: rgb(5, 5, 5);
    padding: 15px;
    justify-content: center;
  }